*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.home {
    background: url(images/8fefb65833b008164ebb4cf2ff06ad13.jpeg) no-repeat;
    background-size: cover;
    position: relative;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: black;
}

.header::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-body{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px  50px;
}

.header-logo {
    width: 100px;
    height: 70px;
    position: relative;
    z-index: 7;
}

.header-logo::before{
    position: absolute;
    content:'';
    width: 50px;
    height: 50px;
    border: 3px solid #FF7400;
    transform: rotate(-45deg);
    left: 60px;
    top: 20px;
}

.header-logo::after{
    content:'';
    position: absolute;
    width: 50px;
    height: 50px;
    border: 3px solid #FF7400;
    transform: rotate(-45deg);
    right: 20px;
    top: 20px;
}

.menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;

}

.header-burger{
    display: none;
}

.header-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-list{
    display: flex;
    align-items: center;
}

.header-link img {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-right: 10px;
}

.header-link span{
    display: block;
    width: 2px;
    height: 35px;
    background-color: #fff;
    margin-left: -10px;
}


.header-list li {
    list-style: none;
    margin: 0 0 0 20px;
}

.header-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 13px;
}

.header-contact{
    color: #fff;
}

.header-phone i {
    padding: 5px 1px 5px 5px;
    transform: rotate(-40deg);
}

.header-phone a {
    color: #fff;
    text-decoration: none;
    padding: 0 0 0 5px;
}

.header-contact-lable{
     color: #fff;
}
.m100{
    margin-left: 100px;
}

@media(max-width: 768px){
     
    body.lock{
      overflow: hidden;
    }
    .header-body{
        padding: 20px 5px;
    }
   

    .header::before{
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        padding: 20px;
        z-index: 5;
    }

    .header-body{
        height: 70px;
        padding: 10px 5px;
    }

    .header-logo {
        width: 70px;
        height: 50px;
    }

    .header-logo::before,
    .header-logo::after{
        width: 35px;
        height: 35px;
    }

    .header-logo::before{
        left: 40px;
    }

    .header-burger{
        display: block;
        position: relative;
        width: 70px;
        height: 50px;
        z-index: 7;
    }

    .header-burger span {
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        top: 30px;
        transition: all 0.3s ease-in;
    }

    .header-burger::before,
    .header-burger::after{
        content: '';
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease-in;
    }
    .header-burger::before{
        top: 14px;
    }

    .header-burger::after{
        bottom: 0;
    }

    .header-burger.active:before{
        transform: rotate(45deg);
        top: 35px;
    }

    .header-burger.active:after{
        transform: rotate(-45deg);
        bottom: 35px;
    }

    .header-burger.active span{
        transform: scale(0);
    }

    .header-menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(12, 12, 12);
        overflow: auto;
        transition: all 0.3s ease-in;
        z-index: 3;

    }

    .header-menu.active{
        top: 18%;
    }

    .header-list{
        flex-direction: column;
        align-items: flex-start;
    }
    .header-list li {
        padding-bottom: 50px;
    }


    .header-link{
       font-size: 30px;
       padding: 10px;
    }
    .header-link img{
        display: none;
    }

    .header-link span{
        display: none;
    }

    .header-contact{
        display: none;
    }
    
    .btn-primary.m100{
        display: none;
    }
}




/* HOME PAGE */

.home-title{
    display: flex;
    flex-direction: column;
    row-gap: 3%;
    padding: 20%;
    color: #FF7400;
}

h2{
    font-size: 36px;
    padding: 10px;
    letter-spacing: 3px;
    line-height: 30px;

}

h1{
    font-size: 40px;
    padding: 10px;
    letter-spacing: 3px;
    line-height: 30px;
}

.home-logo{
   width: 500px;
    color: #fff;
    padding: 10px;
    letter-spacing: 2px;
    line-height: 30px;
    font-size: 18px;
    padding-left: 100px;
    position: relative;
}

.home-logo::before, 
.home-logo::after{
    content: ' ';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #fff;
}
.home-logo::before{
    top: 23px;
    left: 40px;
}
.home-logo::after{
    top: 24px;
    right: 89px;
}


.btn-primary{
    background-color: #FF7400;
    color: #fff;
    width: 140px;
    height: 47px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.btn-primary:focus, .btn-primary:hover{
    outline: none;
}

.m160{
    margin-left: 160px;
}

.home-container {
    bottom: -230px;
    position: absolute;
    display: flex;
    column-gap: 3%;
    padding-bottom: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.home-item{
    background-color: #fff;
    width: 320px;
    height: 300px;
    font-family: Tinos;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #656363;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}

.home-item img {
    width: 87px;
    height: 87px;
}

@media(max-width: 410px) {
    .home-container{
        flex-direction: column;
        row-gap: 30px;
        top: 680px;
        align-items: center;
        bottom: 0;
        margin-bottom: 5%;
    }
    .home-item{
        width: 250px;
        height: 280px;
        font-size: 20px;
    }

    .home-title{
        row-gap: 1%;
        padding-top: 40%;
    }
    
    h2{
        font-size: 20px;
        padding: 5px;
        text-align: center;
    
    }
    
    h1{
        text-align: center;
        font-size: 22px;
        padding: 5px;
    }

    .home-logo{
        width: 300px;
         padding: 5px;
         margin-left: -53px;
         text-align: center;
         font-size: 16px;
     }
    
     .home-logo::before{
         width: 30px;
         top: 19px;
         left: -2px;
     }
     .home-logo::after{
         width: 30px;
         top: 18px;
         right: -1px;
     }
     /* .btn-primary.m160{
         margin-left: 43px;
         text-align: center;
     } */
}


@media(min-width: 411px)and (max-width:767px){
    .home-container{
        flex-direction: column;
        row-gap: 30px;
        top: 720px;
        bottom: 0;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .home-item{
        width: 250px;
        height: 280px;
        font-size: 20px;
    }

    .home-title{
        row-gap: 1%;
        padding-top: 40%;
    }
    
    h2{
        font-size: 23px;
        padding: 5px;
        text-align: center;
    
    }
    
    h1{
        text-align: center;
        font-size: 25px;
        padding: 5px;
    }

    .home-logo{
        width: 300px;
         padding: 5px;
         margin-left: -31px;
         text-align: center;
         font-size: 16px;
     }
    
     .home-logo::before{
         width: 30px;
         top: 19px;
         left: -2px;
     }
     .home-logo::after{
         width: 30px;
         top: 18px;
         right: -1px;
     }
}

@media(min-width: 768px) and (max-width: 1024px){

    .header-list li {
        margin: 0 0 0 0;
    }

    .m100{
        margin-left: 15px;
    }

    .header-burger.active:before{
        top: 13px;
    }

    .header-menu.active{
        top: 10%;
    }

    .header-menu.active .header-link{
        font-size: 45px;
    }

    .home-title{
        padding-left: 10%;
    }

    .home-container{
        top: 390px;
        /* left: 8%; */
    }
    .home-item{
        width: 220px;
        height: 240px;
        font-size: 18px;
    } 

}

@media(max-width: 768px) {
    .home-title{
        align-items: center;
    }
    .home-logo{
        margin-left: 0;
    }

    .btn-primary.m160 {
        margin-left: 0;
    }
}

@media (max-height: 414px) {
    .home-container {
        top: 800px;
    }
}