*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    width: 100vw;
    height: 10vh;
    background-color: #63a9c7;
}

.wrapper {
    display: flex;
    column-gap: 1%;
    width: 100vw;
    height: 88vh;
    margin-top: 1%;
}

.main, .aside {
   flex-basis: 50%;
   border: 1px solid #061b1f;
   background-color: #21b7d1;
}

