@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


*{
    box-sizing: border-box;
}

body, input{
    font-family: 'Roboto' sans-serif;
}

header{
     background-color: #fff;
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

#menu-top nav *{
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

a.dropdown-item{
    color:black;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

section#menu-main > div> .navbar{
    column-gap: 55px;
}

.navbar-brand img{
    max-height: 60px;
    height: 100%;
}

.brand-context p{
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            max-width: 180px;
            width: 100%;
            white-space: break-spaces;
}

.brand-context
 p:first-of-type{
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                margin: 0;
}

section#menu-main > div> 
.navbar >.navbar-nav{  
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                column-gap: 60px;
}

.bg-green {
         background: #E1EFD0;
         border-radius: 2px;
}

.c-green{
    color: green;
}

.fs-12{
     font-size: 12px;
    line-height: 14px;
}

.tel{
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
}

.small-item{
    display: none;
}

/* MENU-BOTTOM */

section#menu-bottom form{
    flex-basis: 55%;
}

.dropdown > .btn-style{
    background: #005BB9;
    color: #fff;
    border-radius: 6px;
    max-width: 164px;
    width: 100%;
    max-height: 53px; 
    height: 100%; 
    position: relative;
    padding: 10px 20px;
}

section#menu-bottom .dropdown-toggle::after{
    display: none;
}

span.burger{
    position: absolute;
    width: 30px;
    height: 2px;
    top: 50%;
    left: 10%;
    background-color: #fff;
   
}

span.burger::after,
span.burger::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: #fff;
}

span.burger::before{
    top: -7px; 
}

.burger-name{
    margin-left: 40px;
}

input[type=search] {
    background: #F4F5FA;
    border-radius: 6px 0px 0px 6px;
}

button[type=submit]{
    background: #005BB9;
    color: #fff;
    margin-left: -80px;
    padding: 12px 20px;
    border: none;
}

.gap-20{
    column-gap: 30px;
}

.mr{
    font-size: 26px;
    margin-right: -15px;
}

.w-90{
   max-width: 90px;
   width: 100%;
}

.main{
    background-color: #fff;
    margin-top: 20%;
}

/* DISCOUNT */


.discount .container{
    padding-bottom: 50px;
}
.carousel-main{
    position: relative;
    background-image: url(images/background.jpg);
    border-radius: 20px;
    height: 390px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.discount-container{
    padding: 10px 60px;
}

.discount-img img{
    width: 417px;
    height: 356px;
    /* width: 100%;
    height: 100%; */
}
.discount-context{
    row-gap: 20px;
}

.discount-name{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
}

.discount-numb{
   font-weight: normal;
   font-size: 20px;
   line-height: 23px;
   text-decoration: underline;
   color: #717171;
}

.price-new{
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}

.price-old{
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.btn-buy{
    max-width: 160px;
    width: 100%;
    color: #fff;
    background: #005BB9;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 2px;
}

.btn-buy:hover{
   color: #fff;
   box-shadow: 1px 5px 10px #fff;
}

.arrow{
    position: absolute;
    background-color: transparent;
    width: 40px;
    height: 40px;
    color: black;
    padding: 5px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.left-arrow{
    left: 2%
}

.right-arrow{
    right: 2%;
}

.circle{
    position: absolute;
    max-width: 15px;
    width: 100%;
    max-height: 15px;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    left: 50%;
    bottom: 10px;
}

.c-1{
    left: 45%;
}

.c-3{
    left: 55%
}

.c-active{
    background-color: #005BB9;
}


/* ASIDE */

.carousel-aside {
    margin-left: 10px;
    height: 390px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.carousel-aside-items{
    row-gap: 20px;
}

.aside-item {
    padding: 21px;
    background: #F4F5FA;
    border-radius: 10px;
}

.aside-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #193f61;
}

.aside-img img{
    width: 80px;
    height: 70px;
}

.aside-context{
    flex-basis: 70%;
}

.aside-name{
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #0F2438;
    letter-spacing: 1px;
}

.aside-numb{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #525252;
}

.aside-price-new{
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    color: #FFB800;
}

.aside-price-old{
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.aside-btn{
    outline: none;
    background: #005BB9;
    color: #fff;
    border-radius: 6px;
    
}

.aside-btn i {
    font-size: 18px;
    padding: 10px;
}

/* TOP */

.carousel-top{
    overflow: hidden;
}

.carousel-top-items{
    white-space: nowrap;
    transition: all 0.5s ease-in-out;
}

.carousel-top-item{
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 2px 12px 10px;

}

.top-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0A1A2C;
    padding: 15px 20px 3px;
}

.top-description{
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #0A1A2C;
    padding: 3px 5px 10px 20px;
}

.btn-top{
    background: #005BB9;
    color: #fff;
    border-radius: 4px;
    padding: 5px;
    margin-left: 20px;
}

.navigation-top{
    position: relative;
    height: 20px;
 
}

.arrow-top{
    position: absolute;
    background-color: #fff;
    color: black;
    border-radius: 50%;
    top: -600%;
    transform: translateY(-50%);
}


.arrow-right{
    right: 0%;
}

.arrow-left{
   left: 0%;
}

/* GALLERY */

.filter-wrapper{
    column-gap: 10px;
}
.btn-filter{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 1px;
    color: #005BB9;
    border: 2px solid #005BB9;
    border-radius: 6px;
    padding: 10px;
}

.gallery-item{
    padding: 10px;
    flex-basis: 25%;
}

.gallery-item:hover{
    box-shadow: 1px 5px 7px grey;
    border-radius: 6px;
}

.gallery-img img {
    max-width: 100%;
}

.btn-checked{
    background: #005BB9;
    color: #fff;
}
.grade{
    color: #FFB800;
}

.feedbacks{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
}

.feedbacks p {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.feedbacks p > a{
    font-size: 13px;
    line-height: 15px;
    color: #005BB9;
}

.icons .fa-heart{
    color:#005BB9;
    cursor: pointer;
}



.icon-diagram{
    width: 25px;
    height: 20px;
}

.gallery-price-new{
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    color: #FFB800
}

.gallery-price-old{
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}


.line{
    width: 100%;
    height: 2px;
    background: #E1E5F8;
}

.container-btn-center {
    height: 200px;
    position: relative;
}
  

.gallery-btn{
    background: #FFFFFF;
    border: 2px solid #005BB9;
    border-radius: 6px; 
    padding: 15px 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.gallery-btn-style{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #005BB9;
    text-decoration: none;
}

/* NEWS */

.news{
    margin-bottom: 50px;
}

.news-title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
}

.news-line{
    width: 150%;
    height: 10px;
    background:  #c7c5c5;
    margin: 10px 0px 10px -75px ;
}


.news-container{
    column-gap: 30px;
    margin: 20px 0;
}

.news-item{
    flex-basis: 25%;
    padding: 5px;
}

.news-item:hover{
    box-shadow: 0px 5px 7px rgb(196, 195, 195);
    border-radius: 6px;
}

.news-date{
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #0C1A2A;
    border-radius: 4px;
    padding: 10px;
    position: relative;
}

.circle-black{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    top: -87%;
    left: 50%;
    transform: translateX(-50%);
}

.news-date::before{
    content: " ";
    position: absolute;
    width: 2px;
    height: 25px;
    background-color: black;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
}

.news-name{
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #005BB9;
}


/* FOOTER */

.footer{
    background: #0C1A2A;
    color: #fff;
    padding: 20px;
}

.footer-item{
    column-gap: 30px;
}

/* .footer-context{
    flex-basis: 23%;
} */
.footer-context-title, 
.contact-item > div{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
    margin: 10px 0;
}

.footer-wrapper{
    column-gap: 85px;
}

.fb-70{
    flex-basis: 70%;
}

.fb-35{
    flex-basis: 35%;
}

.footer-contact-wrapper{
    column-gap: 70px;
}

.footer-context-nav {
    padding-left: 0;
}


.footer-context-nav li{
    list-style: none;
    margin: 10px 0;
}

.footer-context-nav li a,
.contact-item > p{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}

.contact-item > p{
    padding-top: 17px;
}



.footer-item  .footer-context:last-child
.footer-context-nav li:last-child{
    margin-top: 35px;
}

.subscription-wrapper > p{
    font-size: 16px;
    line-height: 18px;
    color: #858CAB;
}
.btn-email{
    background-color: inherit;
}

.social-media{
    column-gap: 40px;
}

.social-media a {
    font-size: 20px;
    color: #fff;
}

.copyright{
    font-size: 16px;
    line-height: 20px;
    color: #737E9B;
    margin: 20px 0 20px;
}


@media screen and (max-width: 576px){
  .small-item{
      display: block;
  }
  section.menu-top .navbar-item .navbar-nav{
    flex-direction: row;
    column-gap: 10px;
  }
  .navbar-brand img{
      width: 40px;
      height: 30px;
  }

  .brand-context p{
      font-size: 10px;
  }

  section#menu-main > div > .navbar{
      flex-wrap: nowrap;
      column-gap: 0;
  }

  section#menu-main .navbar-nav{
      flex-basis: 70%;
  }
  section#menu-bottom form{
      flex-basis: 80%;
  }

  input[type=search]::placeholder{
      font-size: 9px;
  }

  button[type=submit]{
      padding: 6px 10px;
      margin-left: -40px;
  }

  .subscription-wrapper button[type=submit]{
           margin-left: 0;
           margin-top: 10px;
  }

    .gallery-item{
        flex-basis: 50%;
    }

    .fb-70,
    .news-item,
    .fb-35{
        flex-basis: auto;
    }
    .news-date::before{
        display: none;
    }
    .top-description{
        white-space: break-spaces;
    }

    .carousel-main{
        margin-top: 75%;
        margin-bottom: 20px;
        height: 200px;
    }

    .discount-context{
        row-gap: 0px;
    }
    .gap-20{
        column-gap: 0px;
    }
    .price-old{
        display: block;
    }
    .discount-name,
    .price-old{
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .discount-numb{
        font-size: .7rem;
        line-height: 1rem;
    }
    .price-new{
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    .discount-container{
        padding: 10px 30px;
    }

    .discount-context{
        flex-basis: 60%;
    }
    .discount-img{
        flex-basis: 40%;
    }
    .circle{
        max-height: 10px;
        max-width: 10px;
        bottom: 3px;
    }
    .carousel-aside{
        height: 420px;
    }
    .discount-img img{
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
    .discount .d-flex.gap-20.mx_20{
        align-items: center;
    }
}

@media (min-width: 410px) and (max-width: 768px){
    .carousel-main{
        margin-top: 30%;
    }
    .discount-container{
        padding: 30px;
    }
    .discount-name{
        font-size: 30px;
    }
    .discount-context{
        flex-basis: 60%;
    }
    .discount-img{
        flex-basis: 40%;
    }
    .price-new{
       font-size: 24px;
       display: block;
    }
    .discount-img img{
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
    .discount .d-flex.flex-column.flex-md-row{
        margin-top: 40%;
    }
    .discount .d-flex.gap-20.mx_20{
        align-items: center;
    }
    .aside-img img{
        width: auto;
        height: auto;
        max-width: 100%;
    }
    .carousel-aside {
        height: 360px;
    }
    .aside-context .aside-name,
    .aside-price-new{
        font-size: .7rem;
        margin: 0;
    }
    .aside-numb,
    .aside-price-old{
        font-size: .6rem;
    }
    .aside-price-new{
        font-size: .7rem;
    }
    .aside-img,
    .aside-context{
        flex-basis: 50%;
    }
    .aside-item{
        padding: 10px;
    }
    .gap-20{
        column-gap: 0px;
    }
    .discount-context{
        row-gap: 0px;
    }
    .carousel-main{
        height: 230px;
    }
}
@media (min-width: 760px) and (max-width: 770px){

    .carousel-aside,
    .carousel-main{
        height: 320px;
    }
}

@media screen and (min-width: 768px)
{
    .carousel-main {
        margin-top: 0;
    }
}




