.carousel-top{
    column-gap: 20px;
    overflow: hidden;
}

.carousel-top-item{
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 10px;
}

.top-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0A1A2C;
    padding: 20px 10px 3px;
}

.top-description{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
    padding: 3px 10px;
}

.btn-top{
    background: #005BB9;
    color: #fff;
    border-radius: 4px;
    padding: 5px;
    margin-left: 10px;
}

.b-1{
    border: 1px solid black;
}